@model kFriendly.UI.Models.SearchBusinessModel

@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="homepage-hero" style="background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_large_assets/8a6cc705477a/assets/img/home/hero_photos/uteUmycsbh0UibXk-At-3A.jpg)">
        @*<div class="y-container_content">*@
        <div class="form-row h-100 justify-content-center align-items-center ">
            <div class="col-sm-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Find</span>
                        </div>
                        @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control", @placeholder = "pizza, lunch, coffee" } })
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Near</span>
                        </div>
                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    </div>
                </div>
            </div>

            <div class="col-sm-2">

                <div class="form-group">
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-info">
                            <span class="oi oi-magnifying-glass"></span> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*</div>*@

}


<script type="text/javascript" language="javascript">

    var latitude = '';
    var longitude = '';

    var getLocation = function (){

        navigator.geolocation.getCurrentPosition(function (loc) {

            latitude = loc.coords.latitude;
            longitude = loc.coords.longitude;

            $.ajax({
                dataType: "json",
                type: 'POST',
                url: '@Url.Action("GetLocationFriendlyName")',
                data: {
                    latitude: latitude,
                    longitude: longitude
                },
                success: function (data) {
                    $('#Location').val(data);
                },
                error: function (data) {
                }
            });

        })
    };


    $(document).ready(function () {

        getLocation();

        $('#Term').autocomplete({
            source: function (request, response) {
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: '@Url.Action("Autocomplete")',
                    data: {
                        term: request.term,
                        latitude: latitude,
                        longitude: longitude
                    },
                    success: function (data) {
                        response(data);
                    },
                    error: function (data) {
                    }
                });
            },
        });
    })

</script>
