@model kFriendly.UI.Models.SearchBusinessModel

@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="y-container homepage-hero" style="background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_large_assets/8a6cc705477a/assets/img/home/hero_photos/uteUmycsbh0UibXk-At-3A.jpg)">
            <div class="y-container_content">

                <div class="homepage-hero_inner">

                    <form method="get" action="/search" id="header_find_form" class="business-search-form main-search yform u-space-b0 js-business-search-form" role="search" data-component-bound="true">

                        <div class="arrange_unit">
                            <div class="main-search_suggestions-field search-field-container find-decorator">
                                <label class="pseudo-input business-search-form_input business-search-form_input--find" for="find_desc" data-component-bound="true">
                                    <div class="pseudo-input_wrapper">
                                        <span class="pseudo-input_text business-search-form_input-text">Find</span>
                                        <span class="pseudo-input_field-holder" style="position: relative; display: block;" data-component-bound="true">
                                            <input disabled="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; color: rgb(200, 200, 200); -webkit-text-fill-color: rgb(200, 200, 200); width: 100%; box-sizing: border-box; top: 0px; right: 0px; bottom: 0px; left: 0px; display: inline-block; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; line-height: 23.2167px; font-weight: 400; letter-spacing: 0px; background-color: rgba(0, 0, 0, 0); font-kerning: auto; vertical-align: baseline; padding: 0px; border-width: 0px;"><input autocomplete="off" id="find_desc" maxlength="64" placeholder="pizza, lunch, coffee" value="" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="1" data-component-bound="true" style="display: inline-block; background: transparent none repeat scroll 0% 0%; position: relative; width: 100%; box-sizing: border-box;">
                                            <input type="hidden" maxlength="64" data-component-bound="true" name="find_desc" value="">
                                        </span>
                                    </div>
                                </label>
                                <div class="main-search_suggestions suggestions-list-container search-suggestions-list-container hidden" data-component-bound="true">
                                    <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="arrange_unit">
                            <div class="arrange">
                                <div class="arrange_unit arrange_unit--fill">
                                    <div class="main-search_suggestions-field search-field-container near-decorator">
                                        <label class="pseudo-input business-search-form_input business-search-form_input--near">
                                            <div class="pseudo-input_wrapper">
                                                <span class="pseudo-input_text business-search-form_input-text">Near</span>
                                                <span class="pseudo-input_field-holder">
                                                    <input autocomplete="off" id="dropperText_Mast" maxlength="80" placeholder="address, neighborhood, city, state or zip" value="" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="2" data-component-bound="true">
                                                    <input type="hidden" maxlength="80" data-component-bound="true" name="find_loc" value="Manhattan, NY">
                                                    <input type="hidden" name="ns" value="1">
                                                </span>
                                            </div>
                                        </label>
                                        <div class="main-search_suggestions suggestions-list-container location-suggestions-list-container hidden" data-component-bound="true">
                                            <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrange_unit">

                                    <button class="ybtn ybtn--primary ybtn--small business-search-form_button" id="header-search-submit" tabindex="3" title="Search" type="submit" value="submit">
                                        <span class="main-search_action-icon-wrap js-search-icon-wrap">
                                            <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--currentColor">
                                                <svg role="img" class="icon_svg">
                                                    <use xlink:href="#24x24_search"></use>
                                                </svg>
                                            </span>
                                            <span class="u-offscreen">Search</span>
                                        </span>


                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>


                    <div class="u-text-centered homepage-hero_photo-owner u-size-full">



                    </div>
                </div>
            </div>
        </div>*@


    <div class="homepage-hero" style="background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_large_assets/8a6cc705477a/assets/img/home/hero_photos/uteUmycsbh0UibXk-At-3A.jpg)">
        @*<div class="y-container_content">*@         
                    <div class="form-row h-100 justify-content-center align-items-center ">
                        <div class="col-sm-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Find</span>
                                    </div>
                                    @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control", @placeholder = "pizza, lunch, coffee" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Near</span>
                                    </div>
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <button type="submit" class="btn btn-info">
                                        <span class="oi oi-magnifying-glass"></span> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
             
            </div>
        @*</div>*@
   
}

<script>
    navigator.geolocation.getCurrentPosition(function (loc) {
        loc.coords.latitude;
        loc.coords.longitude;
    })
</script>
